<!DOCTYPE html>
<html data-ng-app="csjsApp">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container">

        <div class="row">
          <div class="col-sm-8 blog-main">
            {{ content }}
          </div>
          <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            {% include sidebar.html %}
          </div>
        </div>

      </div>
    </div>

    {% include footer.html %}

  </body>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
  <script src="/js/controller.js"></script>

</html>